---

- name: install systemd
  pacman:
    name: systemd
    state: present
  when: ansible_os_family == "Archlinux"

- name: configure systemd-resolved
  template:
    src: resolved.conf.j2
    dest: /etc/systemd/resolved.conf
    owner: root
    group: root
    mode: 0644
  register: __systemd_resolved_configuration

- name: enable systemd-resolved service and assure it is started
  systemd:
    name: systemd-resolved
    enabled: yes
    state: >-
      {{
        __systemd_resolved_configuration.changed |
          default(False) |
          ternary("restarted", "started")
      }}

- name: link /etc/resolv.conf to stub
  file:
    src: /run/systemd/resolve/stub-resolv.conf
    dest: /etc/resolv.conf
    state: link
    force: true

...
