#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it under the
#  terms of the GNU Lesser General Public License as published by the Free
#  Software Foundation; either version 2.1 of the License, or (at your option)
#  any later version.
#
# Entries in this file show the compile time defaults. Local configuration
# should be created by either modifying this file, or by creating "drop-ins" in
# the resolved.conf.d/ subdirectory. The latter is generally recommended.
# Defaults can be restored by simply deleting this file and all drop-ins.
#
# Use 'systemd-analyze cat-config systemd/resolved.conf' to display the full config.
#
# See resolved.conf(5) for details.

[Resolve]
{% if systemd_resolved_servers is defined %}
DNS={{ systemd_resolved_servers | join(" ") }}
{% else %}
# Some examples of DNS servers which may be used for DNS= and FallbackDNS=:
# Cloudflare: 1.1.1.1#cloudflare-dns.com 1.0.0.1#cloudflare-dns.com 2606:4700:4700::1111#cloudflare-dns.com 2606:4700:4700::1001#cloudflare-dns.com
# Google:     8.8.8.8#dns.google 8.8.4.4#dns.google 2001:4860:4860::8888#dns.google 2001:4860:4860::8844#dns.google
# Quad9:      9.9.9.9#dns.quad9.net 149.112.112.112#dns.quad9.net 2620:fe::fe#dns.quad9.net 2620:fe::9#dns.quad9.net
#DNS=
{% endif %}
{% if systemd_resolved_fallback_servers is defined %}
FallbackDNS={{ systemd_resolved_fallback_servers | join(" ") }}
{% else %}
#FallbackDNS=1.1.1.1#cloudflare-dns.com 9.9.9.9#dns.quad9.net 8.8.8.8#dns.google 2606:4700:4700::1111#cloudflare-dns.com 2620:fe::9#dns.quad9.net 2001:4860:4860::8888#dns.google
{% endif %}
{% if systemd_resolved_domains is defined %}
Domains={{ systemd_resolved_domains | join(" ") }}
{% else %}
#Domains=
{% endif %}
{% if systemd_resolved_dnssec is defined %}
{% if systemd_resolved_dnssec is boolean %}
DNSSEC={{ systemd_resolved_dnssec | ternary('yes', 'no') }}
{% else %}
DNSSEC={{ systemd_resolved_dnssec }}
{% endif %}
{% else %}
#DNSSEC=no
{% endif %}
{% if systemd_resolved_dns_over_tls is defined %}
{% if systemd_resolved_dns_over_tls is boolean %}
DNSOverTLS={{ systemd_resolved_dns_over_tls | ternary('yes', 'no') }}
{% else %}
DNSOverTLS={{ systemd_resolved_dns_over_tls }}
{% endif %}
{% else %}
#DNSOverTLS=no
{% endif %}
{% if systemd_resolved_multicast_dns is defined %}
{% if systemd_resolved_multicast_dns is boolean %}
MulticastDNS={{ systemd_resolved_multicast_dns | ternary('yes', 'no') }}
{% else %}
MulticastDNS={{ systemd_resolved_multicast_dns }}
{% endif %}
{% else %}
#MulticastDNS=yes
{% endif %}
{% if systemd_resolved_llmnr is defined %}
{% if systemd_resolved_llmnr is boolean %}
LLMNR={{ systemd_resolved_llmnr | ternary('yes', 'no') }}
{% else %}
LLMNR={{ systemd_resolved_llmnr }}
{% endif %}
{% else %}
#LLMNR=yes
{% endif %}
{% if systemd_resolved_cache is defined %}
{% if systemd_resolved_cache is boolean %}
Cache={{ systemd_resolved_cache | ternary('yes', 'no') }}
{% else %}
Cache={{ systemd_resolved_cache }}
{% endif %}
{% else %}
#Cache=yes
{% endif %}
{% if systemd_resolved_cache_from_localhost is defined %}
{% if systemd_resolved_cache_from_localhost is boolean %}
CacheFromLocalhost={{ systemd_resolved_cache_from_localhost | ternary('yes', 'no') }}
{% else %}
CacheFromLocalhost={{ systemd_resolved_cache_from_localhost }}
{% endif %}
{% else %}
#CacheFromLocalhost=no
{% endif %}
{% if systemd_resolved_dns_stub_listener is defined %}
{% if systemd_resolved_dns_stub_listener is boolean %}
DNSStubListener={{ systemd_resolved_dns_stub_listener | ternary('yes', 'no') }}
{% else %}
DNSStubListener={{ systemd_resolved_dns_stub_listener }}
{% endif %}
{% else %}
#DNSStubListener=yes
{% endif %}
{% if systemd_resolved_dns_stub_listener_extra is defined and systemd_resolved_dns_stub_listener_extra %}
DNSStubListenerExtra={{ systemd_resolved_dns_stub_listener_extra }}
{% else %}
#DNSStubListenerExtra=
{% endif %}
{% if systemd_resolved_read_etc_hosts is defined %}
{% if systemd_resolved_read_etc_hosts is boolean %}
ReadEtcHosts={{ systemd_resolved_read_etc_hosts | ternary('yes', 'no') }}
{% else %}
ReadEtcHosts={{ systemd_resolved_read_etc_hosts }}
{% endif %}
{% else %}
#ReadEtcHosts=yes
{% endif %}
{% if systemd_resolved_resolve_unicast_single_label is defined %}
{% if systemd_resolved_resolve_unicast_single_label is boolean %}
ResolveUnicastSingleLabel={{ systemd_resolved_resolve_unicast_single_label | ternary('yes', 'no') }}
{% else %}
ResolveUnicastSingleLabel={{ systemd_resolved_resolve_unicast_single_label }}
{% endif %}
{% else %}
#ResolveUnicastSingleLabel=no
{% endif %}
